<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">

<head>

	<title>일더하기 Work+</title>

</head>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script>
    $(document).ready( function() {
 
        $("input[type=file]").change(function () {
            
            var fileInput = document.getElementById("contract_file");
            
            var files = fileInput.files;
            var file;
            
            for (var i = 0; i < files.length; i++) {
                
                file = files[i];

                alert(file.name);
            }
            
        });
 
    });
     
  </script>

<body>

	<h1>공지사항 글쓰기</h1>
	
	<form th:if="${noticeResponseDto!=null}" th:object="${noticeSaveRequestDto}" th:action="@{/workplus/notice/register.do}" method="post" id="frm" enctype="multipart/form-data">
		<input type="hidden" th:field="${noticeResponseDto.seq}" name="seq" id="seq">
	    제목 : <input type="text" th:field="${noticeResponseDto.title}" name="title" id="title" > <br>
	    내용 : <input type="text" th:field="${noticeResponseDto.content}" name="content" id="content" > <br>
	    파일 : <a th:if="${not #lists.isEmpty( fileList )}" th:each="row, status : ${fileList}" >
					[[ ${row.originFileName} ]]<br>
			  </a>
	    첨부할 파일들을 선택하세요 : <input multiple="multiple" type="file" name="file" id="contract_file"/>
		<div>
			<a th:href="@{/workplus/notice/list.do}">메인</a>
			<a href="#" onclick="document.getElementById('frm').submit();">전송</a>
		</div>
	</form>
	
	<form th:unless="${noticeResponseDto!=null}" th:object="${noticeSaveRequestDto}" th:action="@{/workplus/notice/register.do}" method="post" id="frm" enctype="multipart/form-data">	
	    제목 : <input type="text" th:field="*{title}" name="title" id="title"> <br>
	    내용 : <input type="text" th:field="*{content}" name="content" id="content"> <br>
		첨부할 파일들을 선택하세요 : <input multiple="multiple" type="file" name="file" id="contract_file"/>
		<div>
			<a th:href="@{/workplus/notice/list.do}">메인</a>
			<a href="#" onclick="document.getElementById('frm').submit();">전송</a>
		</div>
	</form>
	

</body>


</html>
