<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="board/layout/basic">
<head>
<title>일더하기 Work+</title>

</head>
<body>

<h1>공지사항 상세페이지</h1>

<table th:each="notice : ${noticeResponseDto}" border="1" width ="500" height="300" >
	<thead>
		<tr>
			<td>공지번호</td>
			<td>
				<span th:text="${notice.seq}"></span>
			</td>
		</tr>
		<tr>
			<td>제목</td>
			<td>
				<span th:text="${notice.title}"></span>
			</td>
		</tr>
		<tr>
			<td>내용</td>
			<td>
				<span th:text="${notice.content}"></span>
			</td>
		</tr>
		<tr>
			<td>작성자</td>
			<td>
				<span th:text="${notice.writer}"></span>
			</td>
		</tr>
		<tr>
			<td>작성일자</td>
			<td>
				<span th:text="${notice.createdDate}"></span>
			</td>
		</tr>
	</thead>
</table>

<a th:href="@{/workplus/notice/list.do}">메인</a>
<a th:href="@{/workplus/notice/delete.do(noticeSeq=${noticeResponseDto.seq})}">삭제</a>
<a th:href="@{/workplus/notice/write.do(noticeSeq=${noticeResponseDto.seq})}">수정</a>

</body>

</html>
