<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
	  xmlns:sec="http://www.w3.org/1999/xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/default_layout}">
	  
    <head>
        <meta charset="UTF-8">
	    <meta name="_csrf_header" content="${_csrf.headerName}" />
	    <meta name="_csrf" content="${_csrf.token}" />
        <title>비밀번호 변경하기</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script th:inline="javascript">
	       
        </script>
    </head>
    <body>
	    <h3>비밀번호 변경하기</h3><br><br>
	    <div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="비밀번호 입력" name="2" id="2" aria-describedby="button-addon2">
		</div>
		
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="새로운 비밀번호 입력" name="nickname" id="nickname" aria-describedby="button-addon2">
		</div>
		
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="재입력" name="3" id="3" aria-describedby="button-addon2">			
		</div>
		
		<div style="float:right">
			<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">변경하기</a>
		</div>
    </body>
</html>